.Button {
  padding:10px 35px;
  border: solid 1px;
  background: none;
  font-size: 18px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.btn-dark {
  color: black;
  border-color: black;

  &:hover{
    background: black;
    color: white;
  }
}

.btn-light {
  color: white;
  border-color: white;

  &:hover{
    background: white;
    color: black;
  }
}
