.ScrollingBanner {
  overflow: hidden;
}

.carousel {
  width: 100%;
  min-width: fit-content;
  background: #33dea5;
  display: flex;
  align-items: center;
  animation: scrollLeft 100s linear infinite;
  will-change: transform;
  font-size: 55px;
  font-family: arial;
  padding: 1% 0;
}

.words-set {
  display: flex;
  gap: 20px;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
