* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto Condensed", sans-serif;
}

.page-width {
  width: 100%;
  max-width: calc(1200px + 5%);
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: initial;
}

h1,h2,h3,h4,h5{
  letter-spacing: -2px;
}

.text-xl {
  font-size: 50px;
}

.text-l {
  font-size: 35px;
}

.text-s {
  font-size: 18px;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}
